# NINETY_THOUSAND_ACRES
NINETY_THOUSAND_ACRES_PLAYER_REGISTER_FIELDS_YAML_PATH="./cfg/player_register_fields.yaml"
NINETY_THOUSAND_ACRES_MATCH_SIGNUP_FIELDS_YAML_PATH="./cfg/match_signup_fields.yaml"

# Discord Bot
NINETY_THOUSAND_ACRES_DISCORD_BOT_TOKEN="YOUR_DISCORD_BOT_TOKEN"
NINETY_THOUSAND_ACRES_DISCORD_BOT_SYNC_COMMANDS=0
NINETY_THOUSAND_ACRES_DISCORD_GUILD_ID_FOR_DEBUG=""
NINETY_THOUSAND_ACRES_DISCORD_BOT_EXTENSIONS_YAML_PATH="cfg/bot_extensions.yaml"
NINETY_THOUSAND_ACRES_DISCORD_BOT_COMMAND_PREFIX="!"

NINETY_THOUSAND_ACRES_DISCORD_BOT_PLAYER_REGISTER_TIMEOUT=300

# App log
NINETY_THOUSAND_ACRES_LOG_DIRECTORY="./logs"
# CRITICAL, FATAL, ERROR, WARN, WARNING, INFO, DEBUG, NOTSET
NINETY_THOUSAND_ACRES_BOT_LOG_LEVEL=DEBUG
NINETY_THOUSAND_ACRES_GOOGLE_LOG_LEVEL=DEBUG

# Database
NINETY_THOUSAND_ACRES_DATABASE_DIRECTORY="./data/db"
NINETY_THOUSAND_ACRES_DATABASE_DISCORD_FILE="NinetyThousandAcres_discord.db"